{% extends "expenses/base.html" %}
{% block content %}
  <h2>Expenses by Category</h2>
  <canvas id="categoryChart"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    fetch("{% url 'expenses:chart-data' %}")
      .then(res => res.json())
      .then(({labels, data}) => {
        new Chart(
          document.getElementById('categoryChart'),
          { type: 'bar', data: { labels, datasets: [{ label: '€', data }] } }
        );
      });
  </script>
{% endblock %} 